*{
    box-sizing: border-box;
}
body{
    width: 100vw;
    height: 100vh;
}
.navbar{
    background-image: linear-gradient(45deg, #431F54 0%, #151226 60%, #17254A 100%);
}
.collapse{
    display: flex;
    justify-content: end;
}

.navbar {
    position: relative; /* Asegura que la barra de navegación tenga un contexto de posición */
    z-index: 10; /* Aumenta el z-index para que esté por encima del menú desplegable */
}

.menu-collaps {
    position: fixed; /* Fijamos el menú para que esté fuera del flujo normal del documento */
    right: -100%; /* Inicialmente, colocamos el menú fuera de la pantalla hacia la derecha */
    width: 30%; /* Define el ancho del menú */
    height: 100%; /* Ocupa toda la altura de la pantalla */
    transition: right 1.5s ease; /* Transición suave al cambiar la propiedad `right` */
    z-index: 5; /* Asegura que el menú esté debajo de la barra de navegación */
    background-image: linear-gradient(45deg, #431F54 0%, #151226 60%, #17254A 100%);
    
}

.menu-collaps.active {
    right: 0; /* Cuando se despliega, el menú se posiciona en su lugar correcto */
    opacity: 1; /* Asegura que el menú sea completamente visible */
    transition: all 1s ease;
}
.menu-collaps .ul ul a{
    display: flex;
    color: white;
    font-size: 30px;
    list-style:none;
    text-decoration: none;
    padding-bottom: 30px;
}
.img-fluid{
    position: relative;
    width: 100%;
    background-color: black;
    z-index: 1;
    height: 100vh; 
    overflow: hidden;
    top: -100px;
    padding-top: 100px;
}
.img-fluid::before{
    opacity: 0.5;
    background-color: black;
    content: "";
    background-image: url('./img/RUdQHF7sQNPC9S-YP3e6z.png');
    position: absolute;
    width: 100vw;
    top:0;
    height: 100vh;
    background-size: cover;
    background-position: top;
    background-repeat: repeat;
    background-blend-mode: exclusion;
    
}
.headinter{
    margin: 0 26vw;
}
.firsth{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    color: white;
}
.secondh{
    color: white;
    position: relative;
    display: flex;

}
@media (max-width:1186px){
    .menu-collaps {
        width: 100vw; /* Ocupa todo el ancho de la ventana */
    }
    .menu-collaps .ul ul{
        padding-left: 0;
    }
    .menu-collaps .ul ul a{
        font-size: 23px;
        text-align: center;
        justify-content: center;
        align-items: center;
    }
    .img-fluid{
    position: absolute;
    width: 100vw;
    top: 0;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    }
}